extends ../layout

block content
  h1= title
  dl
    dt git init
    dd <i>Initialise existing folder/project</i>
    dt git clone
    dd https://github.com/libgit2/libgit2   &nbsp; [mylibgitdirectory]
    dt git add
    dd <i>multipurpose command—you use it to begin tracking new files, to stage files, and
      | to do other things like marking merge-conflicted files as resolved</i>
    dt git status
    dd [-s]
    dt git config
    dd -l
    dt git diff
    dd [--staged]
    dt git commit
    dd [-a] <i>Quick commit, skip add</i>&nbsp; -m
    dt git rm
    dd redundant.js <i>Removes from GIT AND deletes</i>
    dt git rm
    dd ---cached notrack.js <i>Removes from tracking but no delete</i>
    dt git log
    dd --oneline --decorate
    dt git branch
    dd mynewbranch
    dt git checkout
    dd &nbsp;&nbsp;thisbranch
    dt git checkout
    dd -b mynewbranch <i>Create branch and checkout in one</i>
    dt git remote
    dd add &lt;origin&gt; https://github.com/eranotutamoh/herokusiteexpress.git
    dt git remote
    dd -v &nbsp;<i>List remotes</i>
    dt git push
    dd &lt;origin&gt; &lt;branch/master&gt;


