body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: plum;
}
nav, #col2, #col3 {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}
a {
    color: #00B7FF;
}
nav a {
    display: block;
    text-decoration: none;
    margin: 5px 0;
}
input, textarea {
    display: block;
    margin: 5px 0;
}
input {
    z-index: 1;
}
form div {
    border: none;
    border-top: none;
    position: relative;
    top: -5px;
    width: 139px;
    z-index: 10;
}
form a {
    text-decoration: none  ;
    display: block;
}
form a:hover {
    background-color: darksalmon;
}
form a:active {
    background-color: crimson;
}
.hot {
    background-color: crimson;
}
nav, #col2, #col3 {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}