body {
    background-color: #262B23;
    margin: auto    ;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #F3DF3E;
}
.width {
    background-color: lightgray;
    margin: 0 auto;
    width: 1024px;
}
nav, section {
    display: inline-block;
    vertical-align: top;
    height: 600px;
}
nav {
    background-color:  #670C33;
    height: 580px;
    padding: 20px 0 0 25px;
    width: 175px;
}
.mid {
    background-color: #2C4D00;
    padding: 0 15px 0 25px;
    width: 460px;
}
.right {
    background-color:#343300 ;
    padding: 0 15px 0 25px;
    width: 284px;
}
a {
    color: #4FF93E;
    text-decoration: none;
}
nav a {
    display: block;
    margin: 5px 0;
}
input, textarea {
    display: block;
    margin: 5px 0;
}
input {
    z-index: 1;
}
form a {
     text-decoration: none  ;
     display: block;
 }
#suggest {
    border: none;
    border-top: none;
    position: relative;
    top: -5px;
    width: 139px;
    z-index: 10;
}

#sugget a:hover {
    background-color: darksalmon;
}
#suggest a:active {
    background-color: crimson;
}
.hot {
    background-color: crimson;
}
.recipes div {
    margin: 0 0 15px 15px;
}
.recipes div a {
margin-left: 25px;
}
.ingredients {
    display: none;
}
form .ingredients {
    margin: 5px 0 10px;
    display: block;
}
.ingredients input {
    display: inline-block;
    margin: 0 10px;
}
input.error {
    background-color: yellow;
}
.small {
    width: 60px;
}
h4 {
    margin: 20px 0 0;
}
dt, dd {
    display: inline-block;
    margin: 0 0 15px;
}
dd {
     width: 300px;
 }
dt {
    width: 100px;
}
.another, .takeaway {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 2px;
    display: block;
    font-size: 1.4em;
    margin: 10px 0 20px;
    text-indent: 7px;
    width: 30px;
}
.takeaway {
    display: inline-block;
    line-height: 0.9em;
    text-indent: 9px;
    margin:0;
    vertical-align: text-top;
}