doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
     a(href='recipesearch') Search
     a(href='recipe') Recipe
     a(href='recipeadd') Add Recipe
    block content
