doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/indexstyle.css')
  body
    div.width
      nav
          a(href='/recipesearch') Food Recipes
          a(href='/git') GIT Commands
      block content
