extends layoutrecipe

block content1
  h1
    a(href='/recipeedit/'+id+ '/true').edit #{text.h1}
  p !{text.desc.replace(/\n/g, '<br/>')}
  dl
   each ing in ingred
     dt= ing.quantity
     dd= ing.name

