extends layoutrecipe

block content1
  h1= title
  - if (error == "val")
    p.error Please fill in all Fields
  form(action='' method='post')
    label Recipe name
    input(type='text' name='name')
    h4 Ingredients
    .ingredients
      label Quantity
      input.small(type='text' name='quantity')
      label Name
      input(type='text' name='iname')
    a.another(href='#') +
    label.beforeThis Instructions
    textarea(rows='7' cols='40' name='instructions')
    input(type="submit", value="Add")
  .ingredients
    label Quantity
    input.small(type='text' name='quantity')
    label Name
    input(type='text' name='iname')
    a.takeaway(href='#') -
    script(src='/javascripts/addrecipe.js')
