extends layoutrecipe

block content1
  div
   p #{text.info}
   form
    input(type='text' id='search' name='toad' autocomplete='off')
    div#suggest
block content2
  #col3
    p#ingText Recipes with:
    ul

    script(src='/javascripts/ajaxer.js')
    script(src='/javascripts/suggest.js')
    script(src='/javascripts/search.js')



