extends layout

block content
  h1= text.h1
  p #{text.info}
  form(autocomplete='toad')
    input(type='text' id='search' name='toad' autocomplete='toad')
    div(id='suggest')
        a(href="#ingred") Carrots
        a(href="#ingred") Potato
        a(href="#ingred") Spinach
  ul
  each single in ingredients
    li=single.name

  script(src='/javascripts/search.js')


