extends layout

block content
  div#col2
   p #{text.info}
   form
    input(type='text' id='search' name='toad' autocomplete='off')
    div#suggest
  ul#col3
   li(style='list-style:none') Recipes with
   each single in ingredients
    li=single.name

    script(src='/javascripts/suggest.js')
    script(src='/javascripts/search.js')



